/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require gritter
 */

 @import "bourbon";

 body {
  background-image: url('/exercise.jpg');
  background-size: cover;
  margin: 0 auto;

  font-family: 'Oxygen', sans-serif;
  font-weight: 300;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
 }





.wrapper {
  background: #fff;
  height: 90vh;
  width: 85%;
  max-width: 960px;
  margin: auto;
}

.sub-wrapper {
  width: 90%;
  top: 100px;
  vertical-align: middle;
}

.centered {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  max-width: 100%;
}

.shader {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100vh;
  z-index: -10;
  
  position: absolute;
  background: -webkit-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.top-image {
  position: absolute;
  z-index: -10;
  top: 0px;
  width: 100%;
  height: 100vh;
  background-image: url('/bg1.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bottomshader {
  bottom: 0;
  z-index: 20;
  position: absolute;
  width: 100%;
  height: 60%;
  background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(255,153,0,0.5));
}

.activity-feed {
  position: absolute;
  bottom: 0px;
  width: 100%;
  ul li {
    padding: 10px;
  }
}

h1 {
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 120px;
  line-height: 80px;
  text-transform: uppercase;
  color: #FFF;
}

h2 {
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 60px;
  text-align: justify;
  line-height: 80px;
  text-transform: uppercase;
  color: #FFF;
}

// Forms

.inputfield {
  width: 75%;
  height: 20px;
}

// Pledge Index

#pledge-card {
  float: left;
  margin: 0.5em;
  width: 30%;
  max-width: 30%;
  background-color: rgba(255,153,0,0.5);
}

// Pledge show page

table {
  td {
    word-wrap: justify;
  }
}

// Activity Feed

.activity-feed {
  width: 75%;
  padding: 10px 50px;
  font-size: 14px;
}


// Responsive code

// Menu

header{
  width:100%; 
  background: rgba(0,0,0,0.4);
  height:50px; 
  line-height:50px;
}

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  line-height:45px;
  padding:0px 15px 0px 15px;
  color:#fff;
  border:0;
  font-size:1.4em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.menu {
  z-index:1000000; 
  font-weight:bold; 
  font-size:0.8em; 
  width:100%; 
  background: rgba(0,0,0,0.4);
  position:absolute; 
  text-align:center;
}

.menu ul {
  margin: 0; 
  padding: 0; 
  list-style-type: none; 
  list-style-image: none;
}

.menu li {
  display: block;   
  padding: 15px 0 15px 0; 
  border-bottom: transparent 1px solid;
}

.menu li:hover {
  display: block;    
  background-color: none;
  padding: 15px 0 15px 0; 
}

.menu ul li a { 
  text-decoration:none; 
  font-size: 2em; 
  margin: 0px; 
  color: #fff;
}

.menu ul li span {
  text-transform: uppercase;
  color: #FFF;
  font-size: 2em;
}

.menu ul li a:hover {  
  color: #FF9900;
  text-decoration: none;
}

.menu a {
  text-decoration: none; 
  color: white;
}

.menu a:hover {
  text-decoration: none; 
  color: white;
}

