/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require gritter
 */
 body {
  margin: 0 auto;

  font-family: 'Oxygen', sans-serif;
  font-weight: 300;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
 }

 nav {
  // position: absolute;
  margin: -35px 0;
  z-index: 10;
  width: 100%;
  height: 60px;
  background-color: #FF9900;
 }

ul li {
  height: 100%;
  max-width: 100%;
  font-size: 20px;
  padding: 0 50px;
  list-style: none;
  display: inline-block;
  vertical-align: justify;
  a {
    background-color: #FF9900;
    margin: 0;
    width: 100px;
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    :hover {
    }
  }
}

.profile_thumb {
  background: #FFF;
  border: #FFF solid 4px;
  border-radius: 10px;
}

#side {
  z-index: 200;
  position: absolute;
  background: #5ca2f4;
  top: 0;
  left: -300px;
  width: 350px;
  height: 100%;
  transition: all 0.4s, all 0.4s ease;
}

#side:hover {
  transform: translate(300px, 0);
}
#side:hover ~ #content {
  transform: translate(180px, 0);
}

.panel {
  width: 100%;
  height: 100%;
}

.wrapper {
  max-width: 960px;
  margin: auto;
}

.sub-wrapper {
  position: absolute;
  top: 100px;
}

.centered {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  max-width: 100%;
}

.shader {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 100vh;
  z-index: -10;
  
  position: absolute;
  background: -webkit-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.top-image {
  position: absolute;
  z-index: -10;
  top: 0px;
  width: 100%;
  height: 100vh;
  background-image: url('/bg1.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bottomshader {
  bottom: 0;
  z-index: 20;
  position: absolute;
  width: 100%;
  height: 60%;
  background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(255,153,0,0.5));
}

.activity-feed {
  position: absolute;
  bottom: 0px;
  width: 100%;
  ul li {
    padding: 10px;
  }
}

h1 {
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 120px;
  line-height: 80px;
  text-transform: uppercase;
  color: #FFF;
}

h2 {
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 60px;
  text-align: justify;
  line-height: 80px;
  text-transform: uppercase;
  color: #FFF;
}

// Forms

.inputfield {
  width: 75%;
  height: 20px;
}

// Pledge show page

table {
  td {
    word-wrap: justify;
  }
}