/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require gritter
 */

 @viewport {
   width: device-width;
 }

 @import "bourbon";
 @import "font-awesome-sprockets";
 @import "font-awesome";

html{
  position: relative;
  min-height: 100%;
}

body {
  margin: auto;
  font-size: 1em;

  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  overflow-x: hidden;
  overflow-y: hidden;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #a6a6a6;
  letter-spacing: 0.1em;
}

a:hover {
  color: #FF9900;
}


// Header

header {
  width:100%; 
  background: rgba(0,0,0,0.7);
  height: 3em; 
  line-height: 1.2em;
  text-align: center;
}

header span {
  color: #FFF;
  font-weight: 700;
  letter-spacing: 0.5em;
  line-height: 2em;
}

.hamburger{
  background:none;
  position:absolute;
  top:0;
  right:0;
  // line-height:3em;
  padding:0px 1em;
  color:#fff;
  border:0;
  font-size:2em;
  font-weight:bold;
  cursor:pointer;
  outline:none;
  z-index:10000000000000;
}

.menu {
  z-index:1000000; 
  font-weight:bold; 
  font-size:0.8em; 
  width:100%; 
  background: rgba(0,0,0,0.4);
  position:absolute; 
  text-align:center;
}

.menu ul {
  margin: 0; 
  padding: 0; 
  list-style-type: none; 
  list-style-image: none;
}

.menu li {
  display: block;   
  padding: 1em 0; 
  border-bottom: transparent 1px solid;
}

.menu li:hover {
  display: block;    
  background: rgba(0,0,0,0.7);
  padding: 1em 0; 
}

.menu ul li a { 
  text-decoration:none; 
  font-size: 2em; 
  margin: 0px; 
  color: #fff;
}

.menu ul li span {
  text-transform: uppercase;
  color: #FFF;
  font-size: 2em;
  vertical-align: 50%;
}

.menu ul li a:hover {  
  color: #FF9900;
  text-decoration: none;
}

.menu a {
  text-decoration: none; 
  color: white;
}

.menu a:hover {
  text-decoration: none; 
  color: white;
}

h1 {
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 8em;
  // line-height: 3em;
  text-transform: uppercase;
}

h2 {
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 2em;
  text-align: center;
  // line-height: 2em;
  text-transform: uppercase;
}


.wrapper {
  background: #fff;
  width: 85%;
  max-width: 80%;
  margin: auto;
}

.sub-wrapper {
  justify-content: center;
}

// Home Page

.centered {
  position: absolute;
  clear: both;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  max-width: 100%;
  text-align: center;
  h1 {
    font-size: 6em;
    letter-spacing: 0.2em;
    color: #FFF;
  }
}

.centered h2 {
  text-align: center;
  color: #FFF;
}

.centered a {
  margin: 1.5em;
  padding: 0.5em 1em;
  border: #FF9900;
  border-radius: 10px;
  background-color: rgba(255,153,0,1);
  color: #FFF;
  font-weight: 700;
  font-size: 1.5em;
  text-transform: uppercase;
}
 
.centered a:hover {
  top: 50px;
  color: #FF9900;
  background: #FFF;
}

.shader {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 800px;
  z-index: -10;
  
  position: absolute;
  background: -webkit-linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.top-image {
  position: absolute;
  z-index: -10;
  top: 0px;
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url('/bg1.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


.activity-feed {
  margin-top: 50px;
  bottom: 100px;
  width: 100%;
  ul li {
    padding: 0.1em;
  }
}

.push {
  height: 100px;
}


.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15%;
  font-size: 1.2em;
  background:#333333;
  color: white;
  margin: 0 auto;
  a {
    margin: 0.1em auto;
    color: #a6a6a6;
  }
}
    
.footer-container footer a:hover {
  color: #FF9900;
}

.footer-left ul li {
  display: inline;
  margin-right: 0.2em;
}

// .footer-left {
//   float: left;
//   vertical-align: middle;
//   width: 35%;
// }

.footer-right {
  float: right;
  vertical-align: middle;
  width: 65%;
  p {
    margin: 0px;
  }
}

.footer-right-right {
  float: right;
  vertical-align: center;
  width: 55%;
}


.footer-right-left {
  vertical-align: top;
  float: left;
  width: 45%;
}

i {
  font-size: 1em;
}

// Activity Feed

.footer-container footer .footer-left .activity-feed {
  float: left;
  margin: 0;
  font-size: 14px;
}

.footer-right a {
  margin: 0px 10px;
}

.render-activities {
  width: 100%;
}


// Forms
.field input {
  width: 75%;
  margin: 0.1em;
}
.field i {
  margin: 5px;
}

.inputfield {
  width: 75%;
  height: 1em;
  border: 1px solid black;
}

.form-div {
  max-width: 75%;
  margin: 0 auto;
}

.form-div h3 {
  max-width: 80%;
  font-size: 1.2em;
}

// Pledge Index

.sub-wrapper {
  width: 100%;
  margin: 0 auto;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.sub-wrapper h2 {
  text-align: center;
  margin: 0 auto;
}

#pledge-card {
  padding: 5px;
  margin: 0.2em;
  width: 30%;
  background-color: #FF9900;
  border-radius: 5px;
  h2 {
    margin: 0 auto;
  }
  a {
    color: #FFF;
  }
  a:hover {
    color: #a6a6a6;
  }
}

.new-pledge {
  text-align: center;
  padding: 10px;
  width: 100%;
}

.new-pledge h2 {
  width: 100%;
  text-align: center;
}

.new-pledge .pledgelink {
  width: 100%;
  text-align: center;
  color: #FF9900;
  font-size: 1.8em;
  border: 5px solid #FF9900;
  border-radius: 10px;
}

.pledgelink:hover {
  color: #FFF;
  background: #FF9900;
}


// Pledge show page

table {
  h2 {
    font-size: 15px;
  }
  td {
    word-wrap: justify;
  }
}

// User Show Page

.profile-wrapper {
  max-width: 90%;
  text-align: center;
}

.field file_field {
  margin: 0 auto;
}

.profile-wrapper img {
  width: 20%;
  margin: 0 auto;
}

.profile-wrapper h2 {
  text-align: center;
  margin: 0 auto;
}

// Responsive code

// Menu

@media (max-width: 700px) {

  h1 {
    font-size: 2em;
  }

  .top-image {
    background-image: url('/bg2.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
 
}

@media (max-width: 550px) {

  .slogan {
    display: none;
  }

  .menu {
    font-size: 0.6em;
    letter-spacing: 0.05em;
  }

  .sub-wrapper {
    align-content: stretch;
    flex-direction: column;
  }

  #pledge-card {
    font-size: 1.5em;
    min-width: 100%;
    flex-grow: 2;
  }

  .top-image {
    background-image: url('/bg3.jpg');
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    background-size: cover
  }
 
}
